body{
    min-width: 372px;
    /*ackground-color: #ffdede;*/
}

.rosa{
    background-color: #ffa1a1;
}

.rosaClaro{
    background-color: #ffdede;
}

.dropdown-menu{
    background-color: #df7a7a;
}

.dropdown-item{
    background-color: #df7a7a;
    color: white;
}

.wrapper{
    min-height: 100vh;
}

.preco{
    font-size:x-small;
}

.card{
    border: none;
    position: relative;
}

.card-header{
    border: none;
}

.truncat{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 460px){
    .mt-xs-3{
        margin-top: 1rem;
    }
    
}

.flex-even {
    flex: 1;
    min-width: 300px;
}

.textoRosa{
   color: #df7a7a;
}