body{
    min-width: 372px;
    /*background-color: #ffdede;*/
}

.rosa{
    background-color: #ffa1a1;
}

.rosaClaro{
    background-color: #ffdede;
}

.dropdown-menu{
    background-color: #df7a7a;
}

.dropdown-item{
    background-color: #df7a7a;
    color: white;
}

.wrapper{
    min-height: 100vh;
}

.preco{
    font-size:x-small;
}

.card{
    border: none;
}

.card-header{
    border: none;
}